<a href="https://colab.research.google.com/github/YamilaVSosa-LP/INGENIAS-Data-Science-/blob/main/Notebook_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Programa Ingenias+ Data Science

## Trabajando con Pandas

1) Importa las librerias requeridas: `Pandas` y `NumPy`.  

Una buena practica a la hora de escribir codigo es de comentar siempre que estoy haciendo (usando `#`) en la linea anterior. Por mas obvio que parezca lo que voy a hacer, puede ser que tenga que compartir el documento con otras personas y no sepan que quise hacer en cada linea. O que yo mismo lea el codigo tiempo despues y no recuerde porque lo hice.

In [ ]:
# Importe la librería Pandas
import pandas as pd

# Importe la librería NumPy
import numpy as np

2) Lee el archivo csv `life_expectancy_data` usando `pandas`. Guardalo en una variable llamada `expvida`.

In [3]:
# Leo los datos en un DataFrame

import pandas as pd

expvida = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vSuWhbGlyr3RkvucQfnWUzap9DpdrjptQJtOtEwFh-BPj04VLbqKHSkVfxmS7jSKXzqgGWvh9jNmyEe/pub?gid=1087332157&single=true&output=csv')

expvida.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,7.127.962.362,65.0,1154,...,6.0,8.16,65.0,0.1,58.425.921,33736494.0,17.2,17.3,479.00,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,7.352.358.168,62.0,492,...,58.0,8.18,62.0,0.1,612.696.514,327582.0,17.5,17.5,476.00,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,7.321.924.272,64.0,430,...,62.0,8.13,64.0,0.1,631.744.976,31731688.0,17.7,17.7,0.47,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,781.842.153,67.0,2787,...,67.0,8.52,67.0,0.1,669.959,3696958.0,17.9,18.0,463.00,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097.108.703,68.0,3013,...,68.0,7.87,68.0,0.1,63.537.231,2978599.0,18.2,18.2,454.00,9.5

3) ¿Que tipo de estructura de datos contiene la variable `expvida`?

In [4]:
# Obtengo el tipo de estructura de datos

print(type(expvida))

<class 'pandas.core.frame.DataFrame'>

4) ¿Cuantas filas y columnas tiene `expvida`?

In [5]:
# Uso .shape para obtener cantidad de filas y columnas

num_filas, num_columnas = expvida.shape

print("Número de filas:", num_filas)
print("Número de columnas:", num_columnas)

Número de filas: 2938
Número de columnas: 22

**Numero de filas**:

**Numero de columnas**:

5) ¿Cual es el nombre de las columnas contenidas en `expvida`?

In [7]:
# Obtengo el nombre de las columnas

columnas_expvida = expvida.columns
print(columnas_expvida)

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

6) Inspecciona las primeras 10 filas de `expvida`

In [8]:
# Inspecciono las primeras filas

primeras_10_filas = expvida.head(10)
print(primeras_10_filas)

       Country  Year      Status  Life expectancy  Adult Mortality  \
0  Afghanistan  2015  Developing             65.0            263.0
1  Afghanistan  2014  Developing             59.9            271.0
2  Afghanistan  2013  Developing             59.9            268.0
3  Afghanistan  2012  Developing             59.5            272.0
4  Afghanistan  2011  Developing             59.2            275.0
5  Afghanistan  2010  Developing             58.8            279.0
6  Afghanistan  2009  Developing             58.6            281.0
7  Afghanistan  2008  Developing             58.1            287.0
8  Afghanistan  2007  Developing             57.5            295.0
9  Afghanistan  2006  Developing             57.3            295.0

   infant deaths  Alcohol percentage expenditure  Hepatitis B  Measles  ...  \
0             62     0.01          7.127.962.362         65.0     1154  ...
1             64     0.01          7.352.358.168         62.0      492  ...
2             66     0.01          7.321.924.272         64.0      430  ...
3             69     0.01            781.842.153         67.0     2787  ...
4             71     0.01          7.097.108.703         68.0     3013  ...
5             74     0.01          7.967.936.736         66.0     1989  ...
6             77     0.01          5.676.221.682         63.0     2861  ...
7             80     0.03          2.587.392.536         64.0     1599  ...
8             82     0.02          1.091.015.598         63.0     1141  ...
9             84     0.03          1.717.151.751         64.0     1990  ...

   Polio  Total expenditure  Diphtheria  HIV/AIDS            GDP  Population  \
0    6.0               8.16        65.0       0.1     58.425.921  33736494.0
1   58.0               8.18        62.0       0.1    612.696.514    327582.0
2   62.0               8.13        64.0       0.1    631.744.976  31731688.0
3   67.0               8.52        67.0       0.1        669.959   3696958.0
4   68.0               7.87        68.0       0.1     63.537.231   2978599.0
5   66.0               9.20        66.0       0.1     55.332.894   2883167.0
6   63.0               9.42        63.0       0.1  4.458.932.979    284331.0
7   64.0               8.33        64.0       0.1  3.733.611.163   2729431.0
8   63.0               6.73        63.0       0.1    369.835.796  26616792.0
9   58.0               7.43        58.0       0.1     27.256.377   2589345.0

  thinness  1-19 years  thinness 5-9 years  Income composition of resources  \
0                 17.2                17.3                           479.00
1                 17.5                17.5                           476.00
2                 17.7                17.7                             0.47
3                 17.9                18.0                           463.00
4                 18.2                18.2                           454.00
5                 18.4                18.4                           448.00
6                 18.6                18.7                           434.00
7                 18.8                18.9                           433.00
8                 19.0                19.1                           415.00
9                 19.2                19.3                           405.00

   Schooling
0       10.1
1       10.0
2        9.9
3        9.8
4        9.5
5        9.2
6        8.9
7        8.7
8        8.4
9        8.1

[10 rows x 22 columns]

7) Y ahora las 10 ultimas.

In [9]:
# Inspecciono las ultimas filas

ultimas_10_filas = expvida.tail(10)
print(ultimas_10_filas)

       Country  Year      Status  Life expectancy  Adult Mortality  \
2928  Zimbabwe  2009  Developing             50.0            587.0
2929  Zimbabwe  2008  Developing             48.2            632.0
2930  Zimbabwe  2007  Developing             46.6             67.0
2931  Zimbabwe  2006  Developing             45.4              7.0
2932  Zimbabwe  2005  Developing             44.6            717.0
2933  Zimbabwe  2004  Developing             44.3            723.0
2934  Zimbabwe  2003  Developing             44.5            715.0
2935  Zimbabwe  2002  Developing             44.8             73.0
2936  Zimbabwe  2001  Developing             45.3            686.0
2937  Zimbabwe  2000  Developing             46.0            665.0

      infant deaths  Alcohol percentage expenditure  Hepatitis B  Measles  \
2928             30     4.64          1.040.021.112         73.0      853
2929             30     3.56          2.084.342.867         75.0        0
2930             29     3.88          2.981.456.607         72.0      242
2931             28     4.57          3.426.216.876         68.0      212
2932             28     4.14             87.174.087         65.0      420
2933             27     4.36                      0         68.0       31
2934             26     4.06                      0          7.0      998
2935             25     4.43                      0         73.0      304
2936             25     1.72                      0         76.0      529
2937             24     1.68                      0         79.0     1483

      ...  Polio  Total expenditure  Diphtheria  HIV/AIDS            GDP  \
2928  ...   69.0               6.26        73.0      18.1     65.824.121
2929  ...   75.0               4.96        75.0      20.5    325.678.573
2930  ...   73.0               4.47        73.0      23.7  3.969.982.166
2931  ...   71.0               5.12         7.0      26.8    414.796.232
2932  ...   69.0               6.44        68.0      30.3     44.476.575
2933  ...   67.0               7.13        65.0      33.6    454.366.654
2934  ...    7.0               6.52        68.0      36.7  4.533.511.552
2935  ...   73.0               6.53        71.0      39.8      5.734.834
2936  ...   76.0               6.16        75.0      42.1    548.587.312
2937  ...   78.0               7.10        78.0      43.5  5.473.588.785

      Population thinness  1-19 years  thinness 5-9 years  \
2928   1381599.0                  7.5                 7.4
2929  13558469.0                  7.8                 7.8
2930   1332999.0                  8.2                 8.2
2931  13124267.0                  8.6                 8.6
2932    129432.0                  9.0                 9.0
2933  12777511.0                  9.4                 9.4
2934  12633897.0                  9.8                 9.9
2935    125525.0                  1.2                 1.3
2936  12366165.0                  1.6                 1.7
2937  12222251.0                 11.0                11.2

      Income composition of resources  Schooling
2928                            419.0        9.9
2929                            421.0        9.7
2930                            414.0        9.6
2931                            408.0        9.5
2932                            406.0        9.3
2933                            407.0        9.2
2934                            418.0        9.5
2935                            427.0       10.0
2936                            427.0        9.8
2937                            434.0        9.8

[10 rows x 22 columns]

8) ¿Que tipos de datos contiene cada una de las columnas de `expvida`?

In [10]:
# Tipo de datos en cada columna

tipos_de_datos = expvida.dtypes
print(tipos_de_datos)

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure              object
Hepatitis B                        float64
Measles                              int64
BMI                                float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
HIV/AIDS                           float64
GDP                                 object
Population                         float64
thinness  1-19 years               float64
thinness 5-9 years                 float64
Income composition of resources    float64
Schooling                          float64
dtype: object

9) ¿Hay valores faltantes en alguna de las columnas de `expvida`?

In [11]:
# Obtengo la cantidad de datos faltantes en cada columna

valores_faltantes = expvida.isnull().any()
print(valores_faltantes)

Country                            False
Year                               False
Status                             False
Life expectancy                     True
Adult Mortality                     True
infant deaths                      False
Alcohol                             True
percentage expenditure             False
Hepatitis B                         True
Measles                            False
BMI                                 True
under-five deaths                  False
Polio                               True
Total expenditure                   True
Diphtheria                          True
HIV/AIDS                           False
GDP                                 True
Population                          True
thinness  1-19 years                True
thinness 5-9 years                  True
Income composition of resources     True
Schooling                           True
dtype: bool

10) Selecciona el maximo de datos faltantes. Calcula que porcentaje de los datos representan los datos faltantes.

In [12]:
# Obtengo el maximo valor de datos faltantes y lo guardo en la variable masnan

max_datos_faltantes = valores_faltantes.max()

porcentaje_datos_faltantes = (max_datos_faltantes / len(expvida)) * 100

print("El máximo de datos faltantes es:", max_datos_faltantes)
print("El porcentaje de los datos que representan los datos faltantes es:", porcentaje_datos_faltantes)

El máximo de datos faltantes es: True
El porcentaje de los datos que representan los datos faltantes es: 0.03403675970047651

In [13]:
# Obtengo la cantidad de filas total y divido el maximo valor de datos faltantes por este numero
# y lo multiplico por 100

cantidad_filas_total = len(expvida)

porcentaje_datos_faltantes_total = (max_datos_faltantes / cantidad_filas_total) * 100

print("El porcentaje de los datos que representan los datos faltantes es:", porcentaje_datos_faltantes_total)

El porcentaje de los datos que representan los datos faltantes es: 0.03403675970047651

In [14]:
# Imprimo el maximo porcentaje de datos faltantes. Uso f-strings.

print(f"El máximo porcentaje de datos faltantes es: {porcentaje_datos_faltantes_total:.2f}%")

El máximo porcentaje de datos faltantes es: 0.03%

- str.format()
- Template Class
- f-strings

#### Ahora vamos a realizar algunos calculos y manipulaciones sobre las columnas.

Una función útil para este fin es: `.rename()`. Y podemos utilizarla de la siguiente manera: Si `df` es mi DataFrame y quiero renombrar la columna `columna` como `columna1`, y la columna `columna2` como `columna3`, utilizo la siguiente sintaxis:
  
`df.rename(columns={"columna": "columna1", "columna2": "columna3"}, inplace=True)`

11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar `inplace` para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.

In [18]:
# Renombro columnas del DataFrame

expvida.rename(columns={'Life expectancy ': 'life_expectancy', ' BMI ': 'bmi', ' Measles ': 'measles'}, inplace=True)

print(expvida.head())

       Country  Year      Status  Life expectancy  Adult Mortality  \
0  Afghanistan  2015  Developing             65.0            263.0
1  Afghanistan  2014  Developing             59.9            271.0
2  Afghanistan  2013  Developing             59.9            268.0
3  Afghanistan  2012  Developing             59.5            272.0
4  Afghanistan  2011  Developing             59.2            275.0

   infant deaths  Alcohol percentage expenditure  Hepatitis B  Measles  ...  \
0             62     0.01          7.127.962.362         65.0     1154  ...
1             64     0.01          7.352.358.168         62.0      492  ...
2             66     0.01          7.321.924.272         64.0      430  ...
3             69     0.01            781.842.153         67.0     2787  ...
4             71     0.01          7.097.108.703         68.0     3013  ...

   Polio  Total expenditure  Diphtheria  HIV/AIDS          GDP  Population  \
0    6.0               8.16        65.0       0.1   58.425.921  33736494.0
1   58.0               8.18        62.0       0.1  612.696.514    327582.0
2   62.0               8.13        64.0       0.1  631.744.976  31731688.0
3   67.0               8.52        67.0       0.1      669.959   3696958.0
4   68.0               7.87        68.0       0.1   63.537.231   2978599.0

  thinness  1-19 years  thinness 5-9 years  Income composition of resources  \
0                 17.2                17.3                           479.00
1                 17.5                17.5                           476.00
2                 17.7                17.7                             0.47
3                 17.9                18.0                           463.00
4                 18.2                18.2                           454.00

   Schooling
0       10.1
1       10.0
2        9.9
3        9.8
4        9.5

[5 rows x 22 columns]

In [19]:
# Chequeo que se hayan reemplazado correctamente

print(expvida.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',
       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',
       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],
      dtype='object')

12) ¿Cual es el promedio de expectativa de vida (Life expectancy) en general?

In [20]:
# Obtengo el promedio de la columna

promedio_expectativa_vida = expvida['Life expectancy'].mean()

print("El promedio de expectativa de vida en general es:", promedio_expectativa_vida)

El promedio de expectativa de vida en general es: 69.22493169398908

13) ¿Cual es el promedio de expectativa de vida (Life expectancy) por país?

In [21]:
# Obtengo el promedio por pais

promedio_expectativa_vida_por_pais = expvida.groupby('Country')['Life expectancy'].mean()

print(promedio_expectativa_vida_por_pais)

Country
Afghanistan                           58.19375
Albania                               75.15625
Algeria                               73.61875
Angola                                49.01875
Antigua and Barbuda                   75.05625
                                        ...
Venezuela (Bolivarian Republic of)    73.38750
Viet Nam                              74.77500
Yemen                                 63.86250
Zambia                                53.90625
Zimbabwe                              50.48750
Name: Life expectancy, Length: 193, dtype: float64

14) ¿Cual es la expectativa de vida mas alta y mas baja? Usa la funcion de pandas y la funcion de NumPy y compara el resultado. ¿Que paises tienen esas expectativas de vida?

In [26]:
# Maxima expectativa de vida usando numpy

import numpy as np

idx_max_expectativa_vida_numpy = np.argmax(expvida['Life expectancy'])

max_expectativa_vida_numpy = np.max(expvida['Life expectancy'])

pais_max_expectativa_vida_numpy = expvida.loc[idx_max_expectativa_vida_numpy]['Country']

print("Máxima expectativa de vida usando NumPy:", max_expectativa_vida_numpy)
print("País con la máxima expectativa de vida usando NumPy:", pais_max_expectativa_vida_numpy)

Máxima expectativa de vida usando NumPy: 89.0
País con la máxima expectativa de vida usando NumPy: Belgium

In [27]:
# Maxima expectativa de vida usando pandas

idx_max_expectativa_vida_pandas = expvida['Life expectancy'].idxmax()

max_expectativa_vida_pandas = expvida['Life expectancy'].max()

pais_max_expectativa_vida_pandas = expvida.loc[idx_max_expectativa_vida_pandas]['Country']

print("Máxima expectativa de vida usando Pandas:", max_expectativa_vida_pandas)
print("País con la máxima expectativa de vida usando Pandas:", pais_max_expectativa_vida_pandas)

Máxima expectativa de vida usando Pandas: 89.0
País con la máxima expectativa de vida usando Pandas: Belgium

In [28]:
# Minima expectativa de vida usando numpy

import numpy as np

idx_min_expectativa_vida_numpy = np.argmin(expvida['Life expectancy'])

min_expectativa_vida_numpy = np.min(expvida['Life expectancy'])

pais_min_expectativa_vida_numpy = expvida.loc[idx_min_expectativa_vida_numpy]['Country']

print("Mínima expectativa de vida usando NumPy:", min_expectativa_vida_numpy)
print("País con la mínima expectativa de vida usando NumPy:", pais_min_expectativa_vida_numpy)

Mínima expectativa de vida usando NumPy: 36.3
País con la mínima expectativa de vida usando NumPy: Haiti

In [29]:
# Minima expectativa de vida usando pandas

idx_min_expectativa_vida_pandas = expvida['Life expectancy'].idxmin()

min_expectativa_vida_pandas = expvida['Life expectancy'].min()

pais_min_expectativa_vida_pandas = expvida.loc[idx_min_expectativa_vida_pandas]['Country']

print("Mínima expectativa de vida usando Pandas:", min_expectativa_vida_pandas)
print("País con la mínima expectativa de vida usando Pandas:", pais_min_expectativa_vida_pandas)

Mínima expectativa de vida usando Pandas: 36.3
País con la mínima expectativa de vida usando Pandas: Haiti

In [30]:
# Muestro los resultados maximos

print("Máxima expectativa de vida usando NumPy:", max_expectativa_vida_numpy)
print("País con la máxima expectativa de vida usando NumPy:", pais_max_expectativa_vida_numpy)
print("Máxima expectativa de vida usando Pandas:", max_expectativa_vida_pandas)
print("País con la máxima expectativa de vida usando Pandas:", pais_max_expectativa_vida_pandas)

Máxima expectativa de vida usando NumPy: 89.0
País con la máxima expectativa de vida usando NumPy: Belgium
Máxima expectativa de vida usando Pandas: 89.0
País con la máxima expectativa de vida usando Pandas: Belgium

In [31]:
# Muestro los resultados minimos

print("Mínima expectativa de vida usando NumPy:", min_expectativa_vida_numpy)
print("País con la mínima expectativa de vida usando NumPy:", pais_min_expectativa_vida_numpy)
print("Mínima expectativa de vida usando Pandas:", min_expectativa_vida_pandas)
print("País con la mínima expectativa de vida usando Pandas:", pais_min_expectativa_vida_pandas)

Mínima expectativa de vida usando NumPy: 36.3
País con la mínima expectativa de vida usando NumPy: Haiti
Mínima expectativa de vida usando Pandas: 36.3
País con la mínima expectativa de vida usando Pandas: Haiti

In [32]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al maximo

filas_max_expectativa_vida = expvida.loc[expvida['Life expectancy'] == max_expectativa_vida_pandas]

print("Filas con valor igual al máximo de la expectativa de vida:")
print(filas_max_expectativa_vida)

Filas con valor igual al máximo de la expectativa de vida:
          Country  Year      Status  Life expectancy  Adult Mortality  \
241       Belgium  2014   Developed             89.0             76.0
915       Finland  2014  Developing             89.0             78.0
937        France  2008  Developing             89.0             88.0
938        France  2007  Developing             89.0             89.0
995       Germany  2014   Developed             89.0             69.0
1293        Italy  2004   Developed             89.0             66.0
1850  New Zealand  2010   Developed             89.0             71.0
1916       Norway  2009   Developed             89.0             67.0
2056     Portugal  2014   Developed             89.0             78.0
2433        Spain  2007   Developed             89.0             72.0
2513       Sweden  2007   Developed             89.0             63.0

      infant deaths  Alcohol percentage expenditure  Hepatitis B  Measles  \
241               0    12.60          7.163.348.923         98.0       70
915               0     8.80          6.164.455.402          NaN        0
937               3    11.90          7.002.785.925         47.0      604
938               3    12.20          6.473.714.894         42.0       39
995               2    11.03          9.417.562.909         88.0      443
1293              2     8.98          4.270.914.882         96.0      599
1850              0     9.62          6.664.148.708          9.0       43
1916              0     6.68          1.423.749.426          NaN        2
2056              0     9.88          2.712.545.531         98.0        0
2433              2    11.05          5.109.327.012         96.0      267
2513              0     6.90          7.593.391.622          NaN        1

      ...  Polio  Total expenditure  Diphtheria  HIV/AIDS            GDP  \
241   ...   99.0               1.59        99.0       0.1  4.743.939.684
915   ...   98.0               9.68        98.0       0.1  4.991.461.864
937   ...   98.0               1.57        98.0       0.1    454.136.571
938   ...   99.0               1.45        98.0       0.1     41.658.397
995   ...   94.0              11.30        95.0       0.1    479.265.288
1293  ...   97.0               8.49        94.0       0.1  3.117.456.118
1850  ...   93.0              11.20        93.0       0.1  3.369.134.837
1916  ...   94.0               9.49        94.0       0.1     81.777.681
2056  ...   98.0               9.50        98.0       0.1    227.753.613
2433  ...   96.0               8.36        96.0       0.1      3.279.414
2513  ...   98.0               8.92        98.0       0.1  5.332.437.937

      Population thinness  1-19 years  thinness 5-9 years  \
241     112957.0                  1.0                 1.0
915    5461512.0                  0.9                 0.8
937    6437499.0                  0.6                 0.6
938    6416229.0                  0.6                 0.6
995      89825.0                  1.1                 1.1
1293  57685327.0                  0.5                 0.5
1850         NaN                  0.3                 0.3
1916   4828726.0                  0.7                 0.7
2056     14162.0                  0.7                 0.5
2433   4522683.0                  0.6                 0.5
2513    914892.0                  1.3                 1.3

      Income composition of resources  Schooling
241                              0.89       16.3
915                              0.89       17.0
937                            877.00       16.1
938                            873.00       16.1
995                              0.92       17.0
1293                           846.00       15.6
1850                           899.00       20.3
1916                           936.00       17.4
2056                           837.00       16.8
2433                           849.00       16.0
2513                           895.00       15.8

[11 rows x 22 columns]

In [33]:
# Filtro las columnas para mostrar solo las filas que tengan valor
# igual al minimo

filas_min_expectativa_vida = expvida.loc[expvida['Life expectancy'] == min_expectativa_vida_pandas]

print("Filas con valor igual al mínimo de la expectativa de vida:")
print(filas_min_expectativa_vida)

Filas con valor igual al mínimo de la expectativa de vida:
     Country  Year      Status  Life expectancy  Adult Mortality  \
1127   Haiti  2010  Developing             36.3            682.0

      infant deaths  Alcohol percentage expenditure  Hepatitis B  Measles  \
1127             23     5.76            362.929.176          NaN        0

      ...  Polio  Total expenditure  Diphtheria  HIV/AIDS            GDP  \
1127  ...   66.0                8.9        66.0       1.9  6.622.795.182

      Population thinness  1-19 years  thinness 5-9 years  \
1127   9999617.0                  4.0                 4.0

      Income composition of resources  Schooling
1127                             0.47        8.6

[1 rows x 22 columns]

15) ¿Cuantas categorias encontramos en la columna "Status"? _**Pista**_: Lee acerca de la función [unique()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [34]:
# Obtengo los valores unicos de la columna status

categorias_status = expvida['Status'].unique()

# Cuento el número de categorías únicas
num_categorias_status = len(categorias_status)

print("Número de categorías encontradas en la columna 'Status':", num_categorias_status)

Número de categorías encontradas en la columna 'Status': 2

16) ¿Cuantos paises se ubican en cada una de esas categorias de "Status"? _**Pista**_: Lee acerca de la función [value_counts()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [36]:
# Cuento cuantos valores hay de cada categoria

# Cuento cuántos países se ubican en cada categoría de "Status"
conteo_paises_por_status = expvida['Status'].value_counts()

print("Número de países por categoría de 'Status':")
print(conteo_paises_por_status)

# Cuento cuántos valores hay de cada categoría en la columna "Status"
conteo_por_categoria = expvida['Status'].value_counts()

print("Número de valores por categoría en la columna 'Status':")
print(conteo_por_categoria)

Número de países por categoría de 'Status':
Status
Developing    2426
Developed      512
Name: count, dtype: int64
Número de valores por categoría en la columna 'Status':
Status
Developing    2426
Developed      512
Name: count, dtype: int64

18) ¿Cuantos paises presentaron algun caso de Sarampion (**Measles**) en el 2015? **_Pista_**: Lee acerca de la función [.count()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=count#pandas.DataFrame.count)

In [38]:
# Cuento cuantas filas tienen valores distintos de cero

# Filtro las filas correspondientes al año 2015
casos_sarampion_2015 = expvida[expvida['Year'] == 2015]

# Cuento cuántos países presentaron algún caso de sarampión en el 2015
num_paises_sarampion_2015 = (casos_sarampion_2015['Measles'] != 0).sum()

print("Número de países que presentaron algún caso de sarampión en el 2015:", num_paises_sarampion_2015)


# Cuento cuántas filas tienen valores distintos de cero en la columna "Measles"
num_filas_sarampion_2015 = (casos_sarampion_2015['Measles'] != 0).sum()

print("Número de filas con valores distintos de cero en la columna 'Measles' para el 2015:", num_filas_sarampion_2015)

Número de países que presentaron algún caso de sarampión en el 2015: 121
Número de filas con valores distintos de cero en la columna 'Measles' para el 2015: 121